body{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 100px;
    margin: 0;
    font-size: 19px;
}

header{
    color: white;
    padding-top: 10px;
    margin: 0;
    width: auto;
    height: 100px;
    background: rgb(238, 136, 4);
    text-align: center;
    border-bottom: rgb(31, 31, 31);
    border-bottom-style: solid;
    border-width: 2px;

}

/*Section principal*/


.edocumentos{
    padding-left: 10px;
    padding-top: 15px;
    float: left;
    width: 40%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.219);
}

.ddocumentos{
    color: rgb(3, 3, 3);
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.486);
    width: 59%;
    height: 200px;
    float: right;
}

/*Botão*/
button{
    width: 50px;
}

.botao{
    background-color: rgb(255, 145, 0);
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.botao:hover{
    background-color: rgba(255, 145, 0, 0.699);
}

fieldset{
    width: 80%;
}